$primary-color: #edb458;
$nav-color: #d4d4aa;
$secondary-color: #bad4aa;
$button1-color: #e8871e;
$form-bg-color: #ebf5df;
$border-recipes: #ebf5df;
$container-color: #cde77f;
$border-button: #000000;
$border-1: #000000;
$table-color1: #b1ddf1;