$primary-color: #D6CCC2;
$nav-color: #D5BDAF;
$secondary-color: #bad4aa;
$button1-color: #e8871e;
$form-bg-color: #ebf5df;
$border-recipes: #ebf5df;
$container-color: #F5EBE0;
$border-button: #000000;
$border-1: #000000;
$table-color1: #b1ddf1;
$white-color: #FFFFFF;
$bg-formButton: #D6CCC2;
$bg-searchFormButton: #D5BDAF;
