@use "../settings/colors";

.container-background-entry{
  background-color: colors.$bg-2;
  padding: 0;
  .entryPage{
    margin-top: 5rem;
    min-height: calc(100vh - 5rem);
    .header{
      display: flex;
      justify-content: center;
      .header_box{
        width: 80%;
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        .header_text{
          margin-top: 2rem;
          font-weight: bold;
        }
        .header_image{
          transform: scaleX(-1);
          width: 400px;
          height: 400px;
          padding-top: 1rem;
          display: none;
          @media screen and (min-width: 992px ) {
            display: inline-block;
          }
        }
      }
    }
  }
}
