@use "../settings/colors";

.search_form{
  justify-content: center;
  margin: 0.3rem;
  padding-top: 5rem;
  font-size: 1.4rem;
  @media screen and (min-width: 576px)  {
    margin: 5rem;
  }
  .search_input_text{
    font-size: 1.4rem;
    height: 5rem;
    padding-left: 2rem;
    border-radius: 3rem;
    border: 2px solid colors.$border-1;
    margin-bottom: 1rem;
    &:hover{
      cursor: pointer;
    }
  }
  .search_form-box{
    background-color: white;
    border-radius: 2rem;
    border: 2px solid black;
    padding-top: 1rem;
    box-shadow: 8px 5px 15px -1px rgba(66, 68, 90, 1);
    .search_form-box-element{
      position: relative;
      .search_form-heading{
        background-color: colors.$bg-formButton;
        border-radius: 2rem;
        padding: 2rem;
        border: colors.$border-1 solid 1px;
        box-shadow: 8px 5px 15px -9px rgba(66, 68, 90, 1);
        &:hover{
          cursor: pointer;
        }
      }
      .search_form-listOfCheckboxes, .search_form-listOfRadios, .search_form-ingredientsAmount{
        width: 100%;
        z-index: 1;
        top: 7rem;
        left: 1px;
        background-color: lightgrey;
        border-radius: 2rem;
        padding: 1rem;
        max-height: 50vh;
        overflow: auto;
        margin-bottom: 0.5rem;
        @media screen and (min-width: 992px) {
          position: absolute;
        }
      }
      .search_form-ingredientsAmount{
        display: flex;
        gap: 1rem;
        .search_form-ingredientsAmountBox{
          display: flex;
          gap: 1rem;
          align-items: center;
          .search_form-ingredients-inputNumber{
            width: 5rem;
          }
        }
      }
    }
    .form-buttons-box{
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      @media screen and (min-width: 992px){
        margin-left: 50%;
        width: 50%;
      }
      .search_form-button{
        box-shadow: 8px 5px 15px -9px rgba(66, 68, 90, 1);
        height: 5rem;
        border-radius: 2rem;
        margin-bottom: 1rem;
        border: solid 1px colors.$border-1;
        flex-grow: 1;
      }
      .search_form-submitButton{
        background-color: colors.$bg-searchFormButton;
      }
      .search_form-resetButton{
        background-color: colors.$bg-formButton;
      }
    }
  }
}
