@use "../settings/colors";

.search_form{
  justify-content: center;
  margin: 5rem;
  padding-top: 5rem;
  font-size: 1.4rem;
  .search_input_text{
    font-size: 1.4rem;
    height: 5rem;
    padding-left: 2rem;
    border-radius: 3rem;
    border: 2px solid colors.$border-1;
    &:hover{
      cursor: pointer;
    }
  }
  .search_form-box{
    background-color: white;
    border-radius: 2rem;
    border: 2px solid black;
    padding-top: 1rem;
    .search_form-box-element{
      position: relative;
      .search_form-heading{
        background-color: colors.$bg-formButton;
        border-radius: 2rem;
        padding: 2rem;
        &:hover{
          cursor: pointer;
        }
      }
      .search_form-listOfCheckboxes, .search_form-listOfRadios, .search_form-ingredientsAmount{
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 7rem;
        left: 1px;
        background-color: lightgrey;
        border-radius: 2rem;
        padding: 1rem;
        max-height: 50vh;
        overflow: auto;
      }
      .search_form-ingredientsAmount{
        display: flex;
        gap: 1rem;
        .search_form-ingredientsAmountBox{
          display: flex;
          gap: 1rem;
          align-items: center;
          .search_form-ingredients-inputNumber{
            width: 5rem;
          }
        }
      }
    }
    .search_form-submitButton{
      background-color: colors.$bg-searchFormButton;
      height: 5rem;
      border-radius: 2rem;
      margin-bottom: 1rem;
    }
  }
}
