@use "../settings/colors";

.recipe_element{
  border: solid colors.$secondary-color 1px;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
  font-size: 1.4rem;
  transition: background-color 0.4s;
  .recipe_image{
    width: 100%;
  }
  &:hover{
    background-color: colors.$primary-color;
    cursor: pointer;
  }
}

