@use "../settings/colors";

.container-background-browser{
  background-color: colors.$container-color;
  .browser{
    margin-top: 5rem;
    min-height: calc(100vh - 5rem);
    margin-left: 4%;
    margin-right: 4%;
    .recipes_box{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
  }
}