@use "../settings/colors";

.container-background-browser{
  background-color: colors.$container-color;
  .browser{
    margin-top: 5rem;
    min-height: 100vh;
    margin-left: 4%;
    margin-right: 4%;
    .search_form{
      margin: 5rem;
      padding-top: 5rem;
      font-size: 1.4rem;
      .heading_search_input_text{
        font-size: 1.4rem;
      }
      .search_input_text{
      }
    }
    .recipes_box{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
  }
}